body{
    background: grey;
}
.wrap {
    width: 70%;
    margin-left: 20%;
    margin-top: 50px;
    background: white;

}
/*==============================左边=============================*/
.human{
    width:20%;
    height:500px;
    float: left;
    background: white;


}
.human_title{
    height: 35px;
}
.human_title div{
    float: left;
    width: 5%;
    height: 100%;
    background: #D20a19;


}
.human_title span {
    float: right;
    width: 95%;
    height: 100%;
    text-align:center;
    color: whitesmoke;
    background: #B1874B;
    font-weight: bolder;
    font-size: 20px;
}
.human_news div{
    width: 80%;
    height: 30px;
    margin: 10px 10%;
    text-align:center;
    font-weight: bold;
    
}

.human_news img {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}
.human_news div:first-child{
    background: #d9d9d9;

}
.human_news div:last-child{
    background: #d00c16;
}
/*----------六个图标-----------*/
.human_conten{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}
.human_conten img {
    width: 50px;
    height: 50px;
}
.human_conten ul li{
    float: left;
    width: 50%;
    text-align: center;
}


/*==============================右边=============================*/
.news{
    margin-left: 1%;
    width: 68%;;
    float: left;
    background: whitesmoke;

}
.news_content {
    margin-top: 10px;
    margin-left: 3%;
}
.news_title{
    margin-top: 5px;
    height: 30px;
    border-bottom: 5px solid #d00c16;
}
.news_title span:first-child{
    margin-left: 3%;
    -ms-text-align-last: right;

    font-size: 25px;
    font-weight: bold;
    float: left;
    text-align:center;
}
.news_title span:last-child {
    margin-right: 2%;
    float: right;
}
.news_title a, .news_text a{
    color: #cbab8c;
}
.news_info {
    margin-bottom: 20px;
    margin-right: 2%;
    border-bottom: 1px dotted black;


}
.news_info> img {

    width: 20%;
     float: left;
}
.news_text{
    float: left;

    width: 70%;
    margin-left: 5%;
}
.news_text  div p{
    float: left;
    font-weight: bold;
}
.news_text div a{
    float: right;

}
